@each $breakpoint in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .float-#{$breakpoint}-left  { float: left !important; }
    .float-#{$breakpoint}-right { float: right !important; }
    .float-#{$breakpoint}-none  { float: none !important; }
  }
}