// Colors
$theme-colors: (
  "primary":    #0d6efd,
  "secondary":  #6c757d,
  "success":    #198754,
  "info":       #0dcaf0,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #212529
);

// Breakpoints name v4
$breakpoints: sm, md, lg, xl;

// Breakpoints v5
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
