// Table
.table {
  .thead-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #212529;
    --bs-table-border-color: #373b3e;
    th {
      color: var(--bs-table-color);
      background-color: var(--bs-table-bg);
      border-color: var(--bs-table-border-color);
    }
  }

  .thead-light {
    --bs-table-color: #000;
    --bs-table-bg: #f8f9fa;
    --bs-table-border-color: #dfe0e1;
    th {
      color: var(--bs-table-color);
      background-color: var(--bs-table-bg);
      border-color: var(--bs-table-border-color);
    }
  }
}
