$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $breakpoint: map-get($breakpoints, $name);
  @media (min-width: $breakpoint) {
    @content;
  }
}
